/* -----------QuizPage----------- */
body {
    background-color: rgb(206, 203, 203);
}

.qP_wrap{
display: flex;
flex-direction: column;
width: 50vw;
margin: auto;
padding: 2dvi;
box-shadow: 5px 5px 5px rgb(60, 61, 61);
}

.qP-image{
height: 55vh;
width: 100%; 
border-radius: 5px;
object-fit: contain;
}

.qP1_btn{
width: 100%;
height: 7vh;
margin: 0.5em;
border-radius: 5px;
border-color: black;
border:4px solid black;
background-color: #dedede;
box-shadow: 5px 5px 5px rgb(60, 61, 61);
align-self: center;
cursor: pointer;
}

.qP2_btn{
    width: 100%;
    height: 7vh;
    margin: 0.5em;
    border-radius: 5px;
    border-color: black;
    border:4px solid black;
    background-color: #dedede;
    box-shadow: 5px 5px 5px rgb(60, 61, 61);
    align-self: center;
    cursor: pointer;
    }

    .qP3_btn{
        width: 100%;
        height: 7vh;
        margin: 0.5em;
        border-radius: 5px;
        border-color:black;
        border:4px solid black;
        background-color: #dedede;
        box-shadow: 5px 5px 5px rgb(60, 61, 61);
        align-self: center;
        cursor: pointer;
        }

.qP-submit{
width: 40vw;
height: 7vh;
margin: 0.5em;
margin-bottom: 0;
border-radius: 5px;
border: none;
align-self: center;
cursor: pointer;
border: 2px solid #2ad354;
background-color: #25b146;
box-shadow: 5px 5px 5px rgb(60, 61, 61);
color: #ffff;
font-size: large;
}

@media screen and (max-width:1200px){
    .qP_wrap{
        width: 60%;
    }
}

@media screen and (max-width:992px){
    .qP_wrap{
        width: 75%;
    }
}

@media screen and (max-width:768px){
    .qP_wrap{
        width: 85%;
    }
}

@media screen and (max-width:576px){
    .qP_wrap{
        width: 95%;
    }
}


/* -----------QuizPage----------- */